h1 {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

  h2 {
    margin: 80px;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
  }
  li {
    margin: 80px;
    padding: 2px;
  color: rgb(39, 75, 236);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.contain{
  object-fit: contain;
}