h1 {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

  h2 {
    margin: 80px;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
  }
  li {
    margin: 80px;
    padding: 2px;
  color: rgb(39, 75, 236);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.contain{
  object-fit: contain;
}
.snapButton{
  background-color: #008CBA;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 8px;
color: white;
cursor: pointer;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}

/*dropup speed menu*/
.dropbtn{
  background-color: #008CBA;
  color: white;
  padding: 12px 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.dropup {
  margin: 120px;
  position: relative;
  display: inline-block;
}
.dropup-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  bottom:100%;
  z-index: 1;
}
.dropup-content p {
  color: black;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
}

.dropup:hover .dropup-content {
  display: block;
}
.dropup-content p:hover{
  background-color:lightgray;
}
.dropup:hover .dropbtn {
  background-color: darkblue;
}
